{% extends 'base.html.twig' %}

{% block title %}Hello SecurityController!{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_rest(form) }}
    <button>Je m'inscris</button>
    {{ form_end(form) }}
{% endblock %}
